{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock title_block%}

{% block body_block %}
    <button class="btn btn-primary" onClick="alert('I run JavaScript');">
        Click Me
    </button>

    <button id="about-btn">
        Click Me - I'm JavaScript on Speed
    </button>
    <p>This is a example</p>

    <div>
        <img src="/media/imperio_linux.jpg" alt="Picture of Rango"/><br/>
        Essa página foi criada por {{ autor }}
    </div>

{% endblock body_block %}